@model EmployeeDirectory.ViewModel.EditRoleViewModel
@{
    ViewData["Title"] = "Edit";
}

<div class="text-center bg-dark text-white mt-2 p-2">
    <h3>Edit Role</h3>
</div><hr />
<input type="hidden" asp-for="Id" />
<form asp-controller="Role" asp-action="Edit" method="post">
    <div class="row">
        <div class="col-6 border border-2 border-primary bg-white">
            <div class="border border-2 border-primary bg-primary text-white text-center">
                <h3>Role</h3>
            </div><br />
            <form method="post">
                <div class="form-group row border border-2 border-primary ms-2 me-2 bg-white">
                  <label asp-for="RoleName" class="col-sm-4 col-form-label border border-primary bg-secondary">Role Name</label>
                  <div class="col-sm-8 border border-primary bg-primary">
                    <input asp-for="RoleName" class="form-control p-2 m-0" placeholder = " Enter Role Name">
                    <span asp-validation-for="RoleName" class="text-danger"></span>
                  </div>
               </div><br />
               <div class="text-end m-2">
                   <button type="submit" class="btn btn-dark text-white">Update</button>
                   <div class="btn btn-dark text-white"> 
                       @Html.ActionLink("Delete","Delete","Role", new{@class="text-white",id=Model.Id})
                   </div>
                   <div class="btn btn-dark text-white"> 
                       @Html.ActionLink("Cancel","Index","Role", new{@class="text-white"})
                   </div>
               </div>
            </form>
        </div>
       @* <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" class="form-control" placeholder = " Enter Role Name"/>
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
                <a asp-action="Index">Back to List</a>
            </div>
        </div>*@
        <div class="col-6">
            <div class="card border border-2 border-primary">
                <div class="card-header text-white bg-primary">
                    <h3>Users in this role</h3>
                </div>
                <div class="card-body border border-2 border-primary">
                    <ul>
                    @if (Model.Users.Any())
                    {
                        foreach (var user in Model.Users)
                        {
                            <li class="card-title">@user</li>
                        }
                    }
                    else
                    {
                        <li class="card-title">None at the moment</li>
                    }
                    </ul>
                </div>
                <div class="card-footer">
                    <a asp-controller="Employee" asp-action="Index" class="btn btn-dark" style="width:auto">Add Users</a>
                    <a asp-controller="Employee" asp-action="Index" class="btn btn-dark" style="width:auto">Remove Users</a>
                </div>
            </div>
        </div>
    </div>
</form>
 




@*<div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" disabled class="form-control"/>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>*@