@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class= "col-md-4 mt-2 bg-white border border-primary">
        <ul class="list-group mt-2">
            <h3 class="text-center">Roles</h3>
            <hr class="bg-dark mb-2"/>
            @foreach (var item in Model)
            {
                <li class="list-group-item">
                     @Html.ActionLink(@item.Name,"Edit","Role",new{id=item.Id})
                     @*<a asp-for="@item.Name" asp-action="Edit" asp-route-id="@item.Id"></a>*@
                 </li>
            }
            <hr class="bg-dark mt-5"/>
            <li class="list-group-item text-center bg-primary mb-2 rounded">
                <a asp-controller="Role" asp-action="Create" class="btn">
                   <i class="bi bi-plus-circle"></i> &nbsp;Insert 
			    </a>
            </li>
        </ul>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}